input {
    udp {
        id => "${NAMESPACE}"
        type => "syslog"
        port => 514
        codec => "json"
    }

    heartbeat {
        type => "heartbeat"
        add_field => { 
            "namespace" => "${NAMESPACE}" 
        }
    }
}

filter {}

output {
    elasticsearch {
        hosts    => "${ES_HOST}"
        user     => "${ES_USER}"
        password => "${ES_PASS}"
        ssl      => true
    }

    stdout {}
}
