input {
    udp {
        port => 514
    }

    tcp {
        port => 5142
        codec => json
    }

    heartbeat {}
}

output {
    elasticsearch {
        hosts    => "${ES_HOST}"
        user     => "${ES_USER}"
        password => "${ES_PASS}"
        ssl      => true
    }

    stdout {}
}